@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

:root {
  --color-body: #b6cbce;
  --color-heading: #eef3db;
  --color-base: #1b263b;
  --color-base2: #0d1b2a;
  --color-brand: #778da9;
  --color-brand2: #e0e1dd;
  --sidbar-width: 240px;
  --font-base: "Roboto Mono";
}

body {
  background-color: var(--color-base2);
  color: var(--color-body);
  font-family: var(--font-base);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-heading);
  font-weight: 700;
}

* {
  text-decoration: none;
  color: var(--color-body);
  transition: all 0.4s ease;
}

a:hover {
  color: var(--color-brand);
}

img {
  width: 100%;
}
